<%- contentFor('body')%>

    <div class="container">

        <h3><%=title%></h3>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-medium green" href="/alunos/add">
                <i class="large material-icons">add</i>
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Matricula</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <%for(let aluno of alunos){%>
                <tr>
                    <td><%= aluno.nome%></td>
                    <td><%= aluno.curso%></td>
                    <td><%= aluno.matricula%></td>
                    <td>
                        <a href="/alunos/edit/<%= aluno.id%>" class="btn-floating green"><i class="material-icons">edit</i></a>
                        <a href="/alunos/remove/<%= aluno.id%>" class="btn-floating red"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>

    </div>