<%- contentFor('body') %>

<div class="container">
    <h4 class="title-content">
        <%=title%>
    </h4>
    <form id="formMarcas" action="/marcas/<%=route%>" method="post">
        
        <%if(data.id>= 0){%>
            <input type="hidden" name="id" value="<%=data.id%>" name="id" id="id">
            <%}%>
            <div class="input-field col s12">
                <select required id="tabela" name="tabela">
                  <option value="" disabled selected><%=selctTabela%></option>
                  <%for(let tabela of tabelas){%>
                    <option value="<%=tabela.nome%>"><%=tabela.nome%></option>
                    <%}%>
                </select>
                <label>Tabelas</label>
              </div>

                <label for="nome">Nome:</label>
                <input type="text" id="nome" class="validate" required maxlength="10" minlength="4" name="nome" value="<%=data.nome%>">
                    <span class="helper-text" data-error="" data-success=""></span><br>
                <button class="waves-effect waves-light btn" type="submit"><%=btn%></button>
                <%if(route=='save' ){%>
                  <button class="waves-effect waves-light btn" type="reset">Limpar</button>
              <%}%>
                <a class="waves-effect waves-light btn" href="/marcas">Voltar</a>
    </form>
</div>